*{
  font-family: "roc-grotesk", sans-serif;

font-family: "roc-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
font-family: "roc-grotesk", sans-serif;
font-weight: 500;
font-style: normal;
font-weight: 400;
font-style: normal;


}



  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* 100% del alto de la ventana del navegador */
    
  }
  
  

/*estilos navbar
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }*/

  /* Carousel base class 
.carousel {
  
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption 
.carousel-caption {
  
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element 
.carousel-item {
  
  height: 32rem;
}

/*styles img
.bd-placeholder-img {
  background-image: url();
  background-repeat: no-repeat;
  background-position: center;
  
  
 
  
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
/*
@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }






  
}*/

/********************************************************************************Estilos para el hero */
.hero-container {
  background-image: url('../img/imgHeader.png'); /* URL de la imagen de fondo */
  background-size: cover;
  background-position: center;
  color: #fff; /* Color del texto */
  padding: 300px 0; /* Espaciado interior del hero */
  text-align: left; /* Texto justificado de izquierda a derecha */
}


.hero-text {
  max-width: 600px; /* Ancho máximo del contenedor de texto */
  margin-left: auto;
  margin-right: auto;
}


.hero-text h1 {
  font-size: 2.5rem; /* Tamaño del título */
  margin-bottom: 20px;
  font-size: 430%;
    color:  #07846C;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
}


.hero-text p {
  font-size: 1.5rem; /* Tamaño del texto */
  margin-bottom: 20px;
}


.custom-button-header {
  background-color: #F2C50C; /* Color de fondo del botón */
  color: #07846C; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  border-radius: 30px; /* Borde redondeado del botón */
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
}
/*-----------------------------*/

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.bd-mode-toggle {
  z-index: 1500;
}
/*bgStyle*/
  .bg-mio{
    color: aliceblue;
    background-color: #F2C50C;
  }
  .nav-mio {
    
    text-decoration: none;
    display: block;    
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/*seccionExplicacion*/

.cuerpoTitulo{
  font-size: 120%;

  font-weight: bold;
  color: #07846C;
  

}
.cuerpoTexto{

  color: #07846C;
}

/*comoFunciona*/
.cf{


    background-image: url('../img/BackCf.png'); 
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0 100px 0; 
    padding-top: 10%;
    margin: 0%;

}


  .texto-cm {
    color:#ffffff;
     
  }

  .text-cf{
    color: #ffe137;
  }

  .item-cf{
    font-size: 120%;

  font-weight: 400;
    color: #ffe137;
  }

  .destacado{
    font-weight: bolder;
    color: #F2C50C;
  }

  /*Kits*********************************************************************************************/
  .color{

   color: #07846C; 
  

  }

  .kit-title{
    color: #F2C50C;
    font-weight: bold;

  }

  .price-title{

    color: #008069;
  }

  .detail-title{
    font-size: 120%;
    font-weight: 100;
    color: #008069;
  }

  .kits {
    background-image: url("../img/backgroundKit.png"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0 100px 0; /* Reducimos el espacio superior (50px) */
    padding-top: 0%;
    margin: 0%;
  }
 
  .custom-button-kit{
    background-color: #008069; /* Personaliza el color de fondo */
    border: none;
    color: #fff; /* Personaliza el color del texto */
    border-radius: 25px; /* Crea la forma de pastilla */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
  }

  .custom-button-kit:hover {
    background-color: #ad341c; /* Cambia el color de fondo al pasar el ratón */
  }

  /*.mi-icono-personalizado {
    
  }*/





  .custom-button-kit:hover {
    background-color: #084c4e; /* Cambia el color de fondo al pasar el ratón */
  }

 

  .text-hero{
    font-weight:500;
    color:#07846C ;
    font-size: 200%;

  }
  .subtitulos{
    color: #07846C;
    font-weight: bold;
    font-style: bold;
  }

.bg-color-text{
  color: #F2C50C;
    font-weight: bold;
    font-style: bold;
}

.bg-subtitulo-text{
  color: #F2C50C;
  font-weight: 500;
  font-size: 1.2rem;
}

.bg-Texto{
  color: #e0e0e0;
}

  p{
    font-weight: 400;
  }
  .lead{
    font-weight: 400;
    
    color:#07846C;

  }

  react{
    background-image: url(./img/imgA.png);
  }
  /*img 3 iconos*/
  .bd-placeholder-img-a {
    
    background-image: url(./img/icon1.png);

    }

  .item{
    color: #ef7a3e;
  }
  .button-box{
    color: #008069;
  }

  .cards-text{
    color:#008069 ;
  }
/*Galeria carrusell*********************/

/*gift******************************************/

.gift{
  background-image: url("../img/gifbg.png"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;   
    text-align: center;
    padding: 50px 0 100px 0; /* Reducimos el espacio superior (50px) */
    padding-top: 10%;
    margin: 0%;

}

/*QuienesSomos******************************************/
.bg-qs{

  background-image: url("../img/qsbg.png"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;   
  
  padding: 0; /* Reducimos el espacio superior (50px) */
  padding-top: 0%;
  margin-top: 0%;

}

.bajada-qs{
  font-weight: 400;
  color: #008069;

}

.textbold-qs{
  font-weight: bold;
  
  color: #008069;

}
 /*formulario*********************************************/

.bg-custom-color{

  background-color: #fb873a;
}

.formbg{

  background-image: url("../img/formbg.png"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
  background-size: cover;
  background-position: center;   
  
  padding: 0; /* Reducimos el espacio superior (50px) */
  padding-top: 0%;
  margin-top: 0%;
}

/* Estilos personalizados */
.bg-custom-color {
  background-color:#008069; /* Cambia "#tu-color-aqui" por el color deseado */
  /* Otros estilos personalizados si es necesario */
}

.btn-custom-color {
  background-color: #ef7a3e; /* Cambia "#tu-color-aqui" por el color deseado */
  /* Otros estilos personalizados para el botón si es necesario */
}
  /*footerStyle*********************************************/
  footer{
    background-color:#008069;
  }
  .bajada {
    color: #ffffff;
  }

  ul.list-unstyled.text-muted li a {
    text-decoration: none;
    color: white;
}

.none{
  text-decoration: none;
  color: #fff;
}

 /*Kits design*********************************************************************************************/
    
      
 .checked {
  color: rgb(255, 217, 0);
  margin-right: 1vh;
}
/* Estilos personalizados */
.also-interest {
margin-top: 30px;
}

.product-card {
border: 1px solid #e0e0e0;
margin-bottom: 20px;
}

.product-card img {
max-width: 100%;
}

.product-card .card-body {
text-align: center;
}