*{
  font-family: "roc-grotesk", sans-serif;

font-family: "roc-grotesk", sans-serif;
font-weight: 700;
font-style: normal;
font-family: "roc-grotesk", sans-serif;
font-weight: 500;
font-style: normal;
font-weight: 400;
font-style: normal;


}

/*estilos navbar
.carousel-item {
    height: 65vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }*/

  /* Carousel base class */
.carousel {
  
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  
  height: 32rem;
}

/*styles img*/
.bd-placeholder-img {
  background-image: url(https://i.ibb.co/dpTB2D7/img-Header.png);
  background-repeat: no-repeat;
  background-position: center;
  
  
 
  
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }






  
}



.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.bd-mode-toggle {
  z-index: 1500;
}
/*bgStyle*/
  .bg-mio{
    color: aliceblue;
    background-color: #fc883a;
  }
  .nav-mio {
    
    text-decoration: none;
    display: block;    
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

/*seccionExplicacion*/

.cuerpoTitulo{
  font-size: 120%;

  font-weight: 400;
  color: #fc883a;
  

}
.cuerpoTexto{

  color: #008069;
}

/*comoFunciona*/
.cf{


    background-image: url('/img/BackCf.png'); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0 100px 0; /* Reducimos el espacio superior (50px) */
    padding-top: 10%;
    margin: 0%;

}


  .texto-cm {
    margin-top: -100px; 
  }

  .text-cf{
    color: #ffe137;
  }

  .item-cf{
    font-weight: bold;
    font-size: 130%;
    color: #ffe137;
  }

  .destacado{
    font-weight: bolder;
    color: #ffe137;
  }

  /*Kits*********************************************************************************************/

  .kits {
    background-image: url("/img/backgroundKit.svg"); /* Reemplaza 'tu-imagen-de-fondo.jpg' con la URL de tu imagen */
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 50px 0 100px 0; /* Reducimos el espacio superior (50px) */
    padding-top: 10%;
    margin: 0%;
  }
 
  .custom-button-kit{
    background-color: #fb873a; /* Personaliza el color de fondo */
    border: none;
    color: #fff; /* Personaliza el color del texto */
    border-radius: 25px; /* Crea la forma de pastilla */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
  }

  .custom-button-kit:hover {
    background-color: #ad341c; /* Cambia el color de fondo al pasar el ratón */
  }

  

.custom-button-header{
  
  background-color: #056e5b; /* Personaliza el color de fondo */
    border: none;
    color: #fff; /* Personaliza el color del texto */
    border-radius: 25px; /* Crea la forma de pastilla */
    padding: 10px 20px; /* Ajusta el espacio dentro del botón */
    
  }

  .custom-button-kit:hover {
    background-color: #084c4e; /* Cambia el color de fondo al pasar el ratón */
  }

  .titulo{
    font-size: 400%;
    font-family: "roc-grotesk", sans-serif;
    font-weight: 700;
  }

  .text-hero{
    font-size: 150%;

  }
  .subtitulos{
    color: #008069;
    font-weight: 500;
    font-style: normal;
  }
  p{
    font-weight: 400;
  }
  .lead{
    font-weight: 400;
    color: #fb873a;

  }

  react{
    background-image: url(/img/imgA.png);
  }
  /*img 3 iconos*/
  .bd-placeholder-img-a {
    
    background-image: url(/img/icon1.png);

    }

  .item{
    color: #ef7a3e;
  }
  .button-box{
    color: #206163;
  }

  .cards-text{
    color:#206163 ;
  }
/*Galeria carrusell*********************/

.items{
  width:90%;
  margin:0px auto;
  margin-top: 100px;
}
.slick-slide{
  margin:10px;
}
.slick-slide img{
  width:100%;
  border: 0px solid #fff;
  }

  /*footerStyle*/
  footer{
    background-color:#008069
  }
  .bajada {
    color: #ffffff;
  }